body {
  background-image: url(../images/home_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  overflow-x: hidden;
}

.opening {
  position: relative;
  height: 90vh;
  color: white;
  text-shadow: 0 0 5px #000;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#menu-top {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 100%;
  align-items: end;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.6),
    black
  );
  color: white;
}

#hamburguer {
  padding: 10px;
  width: 40px;
}

#options-show {
  width: 100%;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#c1 {
  display: flex;
  width: 100%;
  background: linear-gradient(
    0deg,
    black,
    transparent,
    transparent,
    transparent
  );
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#frame-title-c1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 50px;
}

#nav {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: black;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

#main-sentence {
  display: flex;
  justify-content: center;
  background: black;
  color: #56ff3a;
  padding: 40px;
}

#companies-label {
  background-color: lightgray;
  color: black;
  display: flex;
  justify-content: center;
}

#posts-label {
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  border-bottom: 1px solid;
}

.div-padding {
  display: flex;
  padding: 20px;
  background: white;
  flex-direction: column;
  align-items: center;
}

.companies-block {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.company-description {
  padding: 15px;
  text-align: center;
}

.company-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.img-companies {
  display: flex;
  align-items: end;
  position: relative;
  width: 300px;
  height: 300px;
}

#quadrafinearts-logo {
  width: 155px;
  height: 150px;
  background: url(../images/a-01.png) no-repeat;
  background-size: 100%;
  background-position: center;
}

#gallery {
  padding: 10px;
  background: url(../images/a-02.jpg) no-repeat;
  background-size: 100%;
}

#quadradeveloperlab-logo {
  width: 150px;
  height: 150px;
  background: url(../images/a-03.png) no-repeat;
  background-size: 100%;
  background-position: center;
}

#projects {
  padding: 10px;
  background: url(../images/a-04.jpg) no-repeat;
  background-size: 100%;
}

.label-companies {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  background: black;
  color: white;
  padding-top: 5px;
}

#companies-description {
  text-align: center;
  padding: 50px 20px 50px 20px;
}

.post {
  display: flex;
  flex-direction: column;
}

.one-post {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  background: #f1f1f1;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  margin: 10px;
}

.read-more-posts {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  background: #f1f1f1;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  margin: 10px;
}

.img-posts {
  position: relative;
  width: 200px;
}

.btn-readmore {
  display: flex;
  width: 100%;
  justify-content: end;
}

footer {
  width: 100px;
}

.text-posts {
  display: flex;
  padding-left: 15px;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

#div-padding-aboutme {
  display: flex;
  padding: 15px 0px 20px 0px;
  background: #b3eef2;
  flex-direction: column;
  align-items: center;
}

#info-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 600px;
  padding-top: 20px;
  padding-bottom: 10px;
}

#info-profilephoto {
  background: url(../images/c-01.png) no-repeat;
  background-position: center;
  background-size: 100%;
  width: 25%;
  height: 150px;
}

#info-profiletext {
  width: 75%;
  height: 150px;
  padding-left: 20px;
}

#grid-images {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
}

.grid-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#box-favorite-technologies {
  margin-top: 40px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid white;
  border-radius: 8px;
}

#grid-favorites {
  display: grid;
  grid-template-columns: repeat(12, 8.3%);
  grid-template-rows: repeat(3, 33.33%);
}

.favorite {
  object-fit: contain;
  height: 60px;
}

#little-description {
  margin-top: 25px;
  padding: 25px;
  color: gray;
  text-align: center;
  font-size: x-small;
}

#footer {
  padding-top: 20px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  font-size: x-small;
  color: white;
}

#img-footer {
  height: 100px;
  margin-bottom: 15px;
}

/*phones*/
@media (max-width: 768px) {
  #menu-top {
    display: flex;
  }
  #grid-favorites {
    grid-template-columns: repeat(6, 16.66%);
    grid-template-rows: repeat(6, 16.66%);
  }
  #info-profile {
    flex-direction: column;
    width: 600px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  #info-profiletext {
    padding-top: 10px;
  }
}

/*tablets*/
@media (min-width: 769px) and (max-width: 992px) {
}

/*small laptops*/
@media (min-width: 993px) and (max-width: 1200px) {
}

/*laptops and desktops*/
@media (min-width: 1201px) {
}

/*
The Bootstrap grid system has four classes:
xs (for phones - screens less than 768px wide)
sm (for tablets - screens equal to or greater than 768px wide)
md (for small laptops - screens equal to or greater than 992px wide)
lg (for laptops and desktops - screens equal to or greater than 1200px wide)
*/
