body {
  background-image: url(../images/home_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  overflow-x: hidden;
}
.opening {
  position: relative;
  height: 100vh;
  color: white;
  text-shadow: 0 0 5px #000;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#menu-top {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: end;
  background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.5), black);
}

#hamburguer {
  padding: 10px;
  width: 40px;
}

#options-show {
  width: 100%;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#c1 {
  display: flex;
  width: 100%;
  background: linear-gradient(
    0deg,
    black,
    transparent,
    transparent,
    transparent
  );
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#frame-title-c1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 50px;
}

#nav {
  display: flex;
  width: 100%;
  height: 65px;
  background-color: black;
  justify-content: center;
  align-items: center;
}

#main-sentence {
  display: flex;
  justify-content: center;
  background: black;
  color: #56ff3a;
  padding: 40px;
}

.div-padding {
  display: flex;
  padding: 20px;
  background: white;
  flex-direction: row;
  justify-content: center;
}

.companies-block {
  display: flex;
  flex-wrap: wrap;
}

.label-companies {
  padding: 10px;
}

#gallery {
  width: 300px;
  height: 300px;
  background: url(../images/a-02.jpg);
  object-fit: cover;
}

#projects {
  position: relative;
}

#projects-img {
  position: relative;
}

#projects-div {
  display: flex;
  justify-content: center;
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 5px;
  background: black;
  color: white;
}

.post {
  display: flex;
  flex-direction: column;
}

.one-post {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  background: gray;
  margin: 10px;
}

.img-posts {
  position: relative;
  width: 600px;
}

footer {
  text-align: end;
}

.text-posts {
  display: flex;
  padding-left: 15px;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  background: yellow;
}

.centralized {
  align-items: center;
  justify-content: center;
  float: center;
}

.centralized2 {
  align-items: center;
  justify-content: center;
  float: bottom;
}
