/*body {
  background-image: url(../images/home_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  overflow-x: hidden;
}*/

body {
  overflow-x: hidden;
  background-color: black;
}

#screen-size {
  bottom: 0;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: orange;
  position: fixed;
  z-index: 2;
}

#earth {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url(../images/home_background.jpg);
  transform: translateZ(-1px) scale(1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-attachment: fixed;
  z-index: -1;
}

.opening {
  position: relative;
  height: 90vh;
  color: white;
  text-shadow: 0 0 5px #000;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#menu-expand {
  padding: 7px 15px;
  position: absolute;
  color: white;
  display: none;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.5)
  );
  font-family: "Bahnschrift SemiBold";
  transition: all 0.9s ease-in-out;
}

.hidden-div {
  display: none;
}

.show-div {
  display: inline;
}

#menu-icon {
  text-align: right;
}

.menu-option {
  position: relative;
  left: -30px;
  font-size: 0px;
  padding: 6px 15px;
}

#c1 {
  display: flex;
  width: 100%;
  background: linear-gradient(
    0deg,
    black,
    transparent,
    transparent,
    transparent
  );
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#frame-title-c1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 50px;
}

#nav {
  display: flex;
  color: white;
  width: 100%;
  height: 40px;
  background-color: black;
  justify-content: center;
  align-items: center;
  z-index: -1;
  font-family: "Bahnschrift SemiBold";
  padding-left: 20px;
}

.nav {
  justify-content: center;
  transition: all 0.2s ease-in-out;
  margin-left: 12px;
  margin-right: 12px;
  font-size: 15px;
}

.nav:hover {
  transform: scale(1.2);
}

#logoMenuTop {
  display: none;
  transition: all 0.2s ease-in-out;
  position: relative;
  top: 20px;
  margin-right: 10px;
}

#logoMenuTop:hover {
  transform: scale(1.1);
}

#sectionCampanies {
  background-color: black;
}

#main-sentence {
  display: flex;
  justify-content: center;
  background: black;
  padding: 80px 30px;
  font-family: "PressStart";
}

#sentence {
  display: none;
  color: rgb(41, 255, 41);
}

@font-face {
  font-family: "PressStart";
  size-adjust: 50%;
  src: url(../fonts/PressStart2P-Regular.ttf);
}

#companies-label {
  padding: 7px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  border-radius: 24px 24px 0px 0px;
}

#companies-column {
  background-color: white;
}

#posts-label {
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  border-bottom: 1px solid;
}

.div-padding {
  display: flex;
  padding: 20px;
  background: white;
  flex-direction: column;
  align-items: center;
}

.companies-block {
  display: grid;
}

.company-description {
  width: 300px;
  padding: 15px;
  text-align: center;
  font-family: "Bahnschrift";
}

.company-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-companies {
  display: flex;
  align-items: end;
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

#quadrafinearts-logo {
  width: 155px;
  height: 150px;
  background: url(../images/a-01.png) no-repeat;
  background-size: 100%;
  background-position: center;
}

#gallery {
  padding: 10px;
  background: url(../images/a-02.jpg) no-repeat;
  background-size: 100%;
  background-position: center;
}

#quadradeveloperlab-logo {
  width: 150px;
  height: 150px;
  background: url(../images/a-03.png) no-repeat;
  background-size: 100%;
  background-position: center;
}

#projects {
  padding: 10px;
  background: url(../images/a-04.jpg) no-repeat;
  background-size: 100%;
  background-position: center;
}

.label-companies {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  background: black;
  color: white;
  padding-top: 5px;
}

#companies-description {
  text-align: center;
  padding: 50px 20px 50px 20px;
}

.img-companies {
  transition: all 0.2s ease-in-out;
}

.img-companies:hover {
  transform: scale(0.9);
}

.post {
  display: flex;
  flex-direction: column;
}

.one-post {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  background: #f1f1f1;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  margin: 10px;
}

.one-post:hover {
  background: #d6d6d6;
}

.read-more-posts {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 1px;
  background: #f1f1f1;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  margin: 10px;
}

.read-more-posts:hover {
  background: #d6d6d6;
}

.img-posts {
  position: relative;
  width: 200px;
}

.btn-readmore {
  display: flex;
  width: 100%;
  justify-content: end;
}

footer {
  width: 100px;
}

.text-posts {
  display: flex;
  padding-left: 15px;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

#div-padding-aboutme {
  display: flex;
  padding: 15px 0px 20px 0px;
  background: #b3eef2;
  flex-direction: column;
  align-items: center;
}

#info-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 600px;
  padding-top: 20px;
  padding-bottom: 10px;
}

#info-profilephoto {
  background: url(../images/c-01.png) no-repeat;
  background-position: center;
  background-size: 100%;
  width: 25%;
  height: 150px;
}

#info-profiletext {
  width: 75%;
  height: 150px;
  padding-left: 20px;
}

#grid-images {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
}

.grid-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#box-favorite-technologies {
  margin-top: 40px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid white;
  border-radius: 8px;
}

#grid-favorites {
  display: grid;
  grid-template-columns: repeat(12, 8.3%);
  grid-template-rows: repeat(3, 33.33%);
}

.favorite {
  object-fit: contain;
  height: 60px;
}

#little-description {
  margin-top: 25px;
  padding: 25px;
  color: gray;
  text-align: center;
  font-size: x-small;
}

#footer {
  padding-top: 20px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  font-size: x-small;
  color: white;
}

#img-footer {
  height: 100px;
  margin-bottom: 15px;
}

/*Especial Adjust*/
@media (min-width: 550px) and (max-width: 768px) {
  .img-companies {
    width: 80%;
  }
}

/*phones*/
@media (max-width: 768px) {
  #menu-expand {
    display: flex;
  }

  #nav {
    display: none;
  }
  #menu-top {
    display: flex;
  }
  #grid-favorites {
    grid-template-columns: repeat(6, 16.66%);
    grid-template-rows: repeat(6, 16.66%);
  }

  #gallery {
    padding: 0px;
  }

  #projects {
    padding: 0px;
  }

  #info-profile {
    flex-direction: column;
    width: 600px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  #info-profiletext {
    padding-top: 10px;
  }
  .companies-block {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 1fr) 40px repeat(2, 1fr);
  }
}

/*tablets*/
@media (min-width: 769px) and (max-width: 992px) {
  #screen-size {
    background-color: green;
  }
  .companies-block {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
  }
}

/*small laptops*/
@media (min-width: 993px) and (max-width: 1200px) {
  #screen-size {
    background-color: blue;
  }
  .companies-block {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    padding-right: 50px;
  }
}

/*laptops and desktops*/
@media (min-width: 1201px) {
  #screen-size {
    background-color: yellow;
  }

  #grid-favorites {
    grid-template-columns: repeat(18, 5.555%);
    grid-template-rows: repeat(2, 50%);
  }

  .companies-block {
    grid-template-columns: repeat(2, 1fr) 30px repeat(2, 1fr);
    padding: 30px;
  }
}

/*
The Bootstrap grid system has four classes:
xs (for phones - screens less than 768px wide)
sm (for tablets - screens equal to or greater than 768px wide)
md (for small laptops - screens equal to or greater than 992px wide)
lg (for laptops and desktops - screens equal to or greater than 1200px wide)
*/
